<section class="dashboardProfile submissionPage">
  <div class="pageTitle">
    Your Submissions
  </div>
  <div class="submission-list">

    <%- include("./submission_input_container.ejs");%>
    <%- include("./submission_container.ejs");%>
    <%- include("./submission_container.ejs");%>
    <%- include("./submission_container.ejs");%>
    <%- include("./submission_container.ejs");%>
  </div>
</section>
