<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link rel="icon" href="icon_path" type="image/icon type"> -->
    <title>RTS -An Ingineous club event</title>

    <!-- 
    - favicon
  -->
    <link rel="icon" href="./favicon.png" />

    <!-- 
    - custom css link
  -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <link rel="stylesheet" href="css/team.css" />
    <link rel="stylesheet" href="css/card_team.css" />

    <!-- 
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Open+Sans:wght@400;500;700&family=Poppins:wght@400;600&display=swap"
      rel="stylesheet"
    />
  </head>

  <body id="top">
    <main>
      <article>
        <!-- Header -->
        <%- include("components/header.ejs"); %>
        <!-- HERO-->
        <%- include("components/main_screen.ejs"); %>
        <!-- about -->
        <%- include('components/about.ejs'); %> <%-
        include('components/card_team.ejs'); %>
        <!-- projects-->
        <%- include("components/team.ejs"); %>

        <!-- 
        - #SKILLS
      -->

        <!-- 
          - #CONTACT
        -->
        <%- include("components/contact.ejs"); %>;

        <!-- 
        - #BLOG
      -->

        <section class="section blog" id="blog">
          <div class="container">
            <!-- <p class="section-subtitle">Upcomming Projects</p> -->

            <h2 class="h2 section-title">Upcomming Bootcamps</h2>

            <p class="section-text">
              Dliquip ex ea commo do conse namber onequa ute irure dolor in
              reprehen derit in voluptate
            </p>

            <ul class="blog-list">
              <li>
                <div class="blog-card">
                  <figure class="card-banner">
                    <a href="#">
                      <img
                        src="images/blog-1.jpg"
                        width="1181"
                        height="843"
                        loading="lazy"
                        alt="Web Development image"
                        class="img-cover"
                      />
                    </a>
                  </figure>

                  <a href="#" class="card-tag">Web Development</a>

                  <h3 class="card-title">
                    <a href="#">Upcomming project....</a>
                  </h3>
                </div>
              </li>

              <li>
                <div class="blog-card">
                  <figure class="card-banner">
                    <a href="#">
                      <img
                        src="images/blog-2.jpg"
                        width="1181"
                        height="843"
                        loading="lazy"
                        alt="m"
                        class="img-cover"
                      />
                    </a>
                  </figure>

                  <a href="#" class="card-tag">Compititive Programming</a>

                  <h3 class="card-title">
                    <a href="#">Comming Soon...</a>
                  </h3>
                </div>
              </li>

              <li>
                <div class="blog-card">
                  <figure class="card-banner">
                    <a href="#">
                      <img
                        src="images/blog-3.jpg"
                        width="1181"
                        height="843"
                        loading="lazy"
                        alt="Machine Learning"
                        class="img-cover"
                      />
                    </a>
                  </figure>

                  <a href="#" class="card-tag">Machine Learning</a>

                  <h3 class="card-title">
                    <a href="#">Comming Soon...</a>
                  </h3>
                </div>
              </li>
            </ul>
          </div>
        </section>
      </article>
    </main>
    <%- include("components/footer.ejs"); %>
    <a href="#top" class="back-to-top" data-back-to-top>BACK TOP</a>

    <script src="js/script.js"></script>
    <script src="../public/js/register.js"></script>

    <!-- 
    - ionicon link
  -->
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
